
.root {
  font-family: 'Roboto Mono';
}

.toggle {
  cursor: pointer;
}

.menu {
  min-width: 300px;
}

.ddItem {
  cursor: pointer;
}

.ddItem > a:hover {
  text-decoration: none;
}

.ddItem:active {
  background-color: transparent;
}

.noHover:hover {
  text-decoration: none;
}