
.column {
  flex-basis: 15%;
  text-align: center;
}

.mainColumn {
  flex-grow: 1;
}

.online {
  color: green
}

.offline {
  color: red;
}


.item {
  padding: 0
}

.item > a {
  padding: 25px;
}

.item > a:hover {
  text-decoration: none;
  background-color: rgba(0,0,0,.075)
}

.header {
  padding: 25px;
  font-weight: bold;
}