.btn {	
  color: #1ca354;	
  font-family: 'Roboto mono';	
  background-color: transparent;	
}

.btn:hover {	
  color: #1ca354;	
}

.outline {	
  border-color: #1ca354;	
}

.outline:hover {	
  text-decoration: none;	
  border-color: #1ca354;	
  background-color: #1ca354;	
  color: white;	
}
